[Unit]
Description=Elastic Search Web Plugin

[Service]
Type=simple
User=elasticsearch
Group=elasticsearch
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
ExecStart=/usr/bin/grunt server
Restart=always
WorkingDirectory=/opt/elasticsearch-head

[Install]
WantedBy=multi-user.target
